body {
   font-family: "Roboto Slab", serif;
   font-weight: 200;
}
#root {
   max-width: 600px;
   margin: auto;
}
h1 {
   font-size: 32px;
   margin: 20px 0;
}
footer {
   font-size: 14px;
   color: #8b8b8b;
   margin: 20px 0;
}
.task {
   padding: 10px 15px;
   border: solid 1px #ccc;
}
/* .task input:checked + label {
   text-decoration: line-through;
   text-decoration-line: line-through;
} */
